input[type=text] {
    background-color: gray;
}

input[type=password] {
    background-color: black;
    color:white;
}

img + p {
    font-style: italic;
}

input[type=password] + input {
    color: blue;
}
p:hover {
    background-color: yellow;
}

p::before {
    counter-increment: p;
    content: "PARAGRAF " counter(p) " - ";
}

body {
    counter-reset: p;
}

p:nth-of-type(2n) {
    color:green;
}

p:nth-of-type(4n) {
    text-decoration: underline;
}
